[submodule "MealMind-Frontend"]
	path = MealMind-Frontend
	url = https://github.com/edonssfall/MealMind-Frontend

[submodule "MealMind-Backend"]
	path = MealMind-Backend
	url = https://github.com/edonssfall/MealMind-Backend
