[submodule "MealMind-Frontend"]
	path = MealMind-Frontend
	url = git@github.com:edonssfall/MealMind-Frontend.git

[submodule "MealMind-Backend"]
	path = MealMind-Backend
	url = git@github.com:edonssfall/MealMind-Backend.git
